h1 {
    color: blue;
  margin: center;
}
h2 {
  color:red;
  margin: center;
}
h3{
  color:green;
}
p{
  color:purple;
}
p, h2, h3, li {
margin-left: 500px;
}
li{
color:brown;
}
body {
    background-image: url('background.jpg');
    background-size: cover;
}
